<table class="ui fixed celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Campaign Name</th>
            <th>Content</th>
            <th>Medium</th>
            <th>Source</th>
            <th>Term</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each templates}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.campaignName}}</td>
            <td>{{this.content}}</td>
            <td>{{this.medium}}</td>
            <td>{{this.source}}</td>
            <td>{{this.term}}</td>
            <td>{{this.notes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<button class="ui button blue" onclick="showModal()">Create Template</button>

<div class="ui modal create-link-modal">
    <div class="header">Header</div>
    <div class="content">
        <form method="POST" action="/templates/create">
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" placeholder="Template Name" name="name">
                    </div>
                    <div class="field">
                        <label>Campaign Name</label>
                        <input type="text" name="campaignName" placeholder="Campaign Name">
                    </div>
                    <div class="field">
                        <label>Medium</label>
                        <input type="text" placeholder="medium" name="medium">
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Source</label>
                        <input type="text" placeholder="source" name="source">
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <input type="text" placeholder="Content" name="content">
                    </div>
                    <div class="field">
                        <label>Term</label>
                        <input type="text" placeholder="Term" name="term">
                    </div>

                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Notes</label>
                        <textarea type="text" placeholder="Notes" name="notes"></textarea>
                    </div>
                </div>
                <button class="ui primary button">
                    Save
                </button>
            </div>
    </div>
    </form>
</div>
</div>

<script>
    var showModal = function () {
        $('.create-link-modal').modal('show');
    };

</script>